<div class="container">
  <div class="row borders" id="intro">
    <div class="col-md-8">
      <%=raw @page.content_for(:body) %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'logo.jpg', alt: "front page cat" %>
    </div> 
  </div>

  <div class="row borders" id="cat-content">
    <div class="col-md-4">
      <h2>Kitty of the Month</h2>
      <%=raw @page.content_for(:kotm) %>
    </div>
    <div class="col-md-4">
      <h2>Our Newest Addition</h2>
      <%=raw @page.content_for(:newest_addition) %>
    </div>
    <div class="col-md-4">
      <h2>Out And About</h2>
      <%=raw @page.content_for(:side_body) %>
    </div>
  </div>

  <div class="row borders" id="get-in-touch">
    <div class="col-md-6">
      <h2>Inside StreetCats</h2>
      <p>StreetCats, Inc is a non-profit organization whose purpose is to shelter cats that have been abandoned or lost and to find new homes for them. The cats that we take in are adoptable cats only. We are a society that does not place a time limit on a healthy cat's life; we keep them until a home is found.</p>
      <a href="http://streetcatstulsa.blogspot.com/"><h3>Visit Our Blog!</h3></a>
    </div>
    <div class="col-md-6">
      <h2>Get In Touch</h2>
      <div class="row">  
        <div class="col-md-6">
          <a href="https://www.facebook.com/streetcatsinc" target="_blank"><span class="brandico-facebook-rect"></span></a>
          <a href="http://instagram.com/streetcatstulsa" target="_blank"><span class="brandico-instagram"></span></a>
          <a href="http://www.mapquest.com/?version=1.0&hk=1-mvZM0pLl"><h5>6520 E. 60th St.</h5></a>
          <h5>(On 60th off of Sheridan behind Charlie's Chicken)</h5>
        </div>
        <div class="col-md-6">
          <h4>918.298.0104</h4>
          <h4>cats@streetcatstulsa.org</h4>
          <h4>Hours:</h4> 
          <h5>Tuesday - Saturday, 10:30- 5:00</h5>
        </div>
      </div>
    </div>
  </div> 
</div>
