<div class="container">
  <div class="row borders">
    <h1><strong>You Can Help!</strong></h1>
  </div>
  <div class="row borders lead" id="volunteer">
    <div class="col-md-4">
      <%= image_tag 'home_cat.jpg', alt: "front page cat" %>
    </div> 
    <div class="col-md-8">
      <%=raw @page.content_for(:body) %>
    </div>
  </div>

  <div class="row borders" id="download">
    <h2>Download Forms</h2>
    <div class="col-md-6">
      <%= link_to "Download Volunteer App PDF", './files/new_volunteer_app.pdf', :class => 'btn btn-large btn-danger' %>
    </div>
    <div class="col-md-6">
      <%= link_to "Download Volunteer App Word", './files/new_volunteer_app.doc', :class => 'btn btn-large btn-danger' %>
    </div>
  </div>

  <div class="row borders" id="hours">
    <div class="col-md-8">
      <%=raw @page.content_for(:side_body) %>
    </div>
    <div class="col-md-4">
      <%= image_tag 'home_cat.jpg', alt: "front page cat" %>
    </div> 
  </div>
</div>


